{% extends 'base.html ' %}


{% block content %}

<header class="masthead" style="background-image: url(''); background-position-x: center; background-position-y: -200px; background-size: cover;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>
    
<div class="container">
    <h1>¡Hola! Soy Santino</h1>
    <p>Un apasionado por la informática y el desarrollo de aplicaciones web. Con 18 años de edad, he tenido la oportunidad de sumergirme en el mundo de la programación y la tecnología. Mi viaje en este emocionante campo ha estado marcado por algunos hitos significativos:</p>
    <ul>
        <li><strong>Educación en Desarrollo Web:</strong> En mi búsqueda de conocimiento, decidí inscribirme en un curso de Python con el framework Django en la prestigiosa academia Coderhouse. Esta experiencia me permitió adentrarme en el mundo del desarrollo web y aprender a crear aplicaciones web dinámicas y efectivas.</li>
        <li><strong>Estudios Universitarios:</strong> Actualmente, me encuentro estudiando Licenciatura en Informática en la Universidad Argentina de la Empresa (UADE). Mi educación formal me ha proporcionado una base sólida en conceptos informáticos y me ha ayudado a comprender los aspectos teóricos y prácticos de la informática.</li>
        <li><strong>Residencia en Argentina:</strong> Vivo en Argentina, un país diverso y hermoso que ofrece una gran riqueza cultural y oportunidades. Me enorgullece ser parte de esta comunidad y contribuir al crecimiento de la tecnología en mi país.</li>
    </ul>
    <p>Mi pasión por la programación y el desarrollo de software me impulsa a seguir aprendiendo y creciendo en este campo. Estoy emocionado por lo que depara el futuro y por las oportunidades que me esperan en el mundo de la tecnología.</p>
    <p>¡Gracias por conocer un poco más sobre mí! Si tienes alguna pregunta o necesitas ayuda en el campo de la informática o la programación, no dudes en preguntar. Estoy aquí para ayudar.</p>
</div>

{% endblock content %}