{% extends 'base.html' %}

{% block content %}

<header class="masthead" style="background-image: url('{{ articulo.imagen.url }}'); background-position-x: center; background-position-y: -200px; background-size: cover;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">Crear Nuevo Artículo</div>
                    <div class="card-body">
                        <form method="post" action="{% url 'crear_articulo' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.categoria.id_for_label }}">Categoría</label>
                                {{ form.categoria }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.titulo.id_for_label }}">Título</label>
                                {{ form.titulo }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.subtitulo.id_for_label }}">Subtítulo</label>
                                {{ form.subtitulo }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.texto.id_for_label }}">Texto</label>
                                <div>{{ form.contenido }}</div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.imagen.id_for_label }}">Imagen</label>
                                {{ form.imagen }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Guardar Artículo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}