{% extends 'base.html' %}
 
{% block content %}
       
<header class="masthead" style="background-image: url('https://media.tycsports.com/files/2023/01/25/527329/lpf-2023_1440x810_wmk.webp'); background-position-x: center; background-position-y: -300px; background-size: cover;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>




<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Nuevo artículo -->
            {% if request.user.is_superuser and nuevo_articulo.autor == request.user %}
                <div class="post-preview">
                    <a href="{% url 'detalle-articulo' articulo_id=1 %}">Ver Detalle del Artículo</a>
                    <h2 class="post-title">{{ nuevo_articulo.titulo }}</h2>
                    <h3 class="post-subtitle">{{ nuevo_articulo.subtitulo }}</h3>
                    {% if nuevo_articulo.imagen %}
                        <img src="{{ nuevo_articulo.imagen.url }}" alt="Tu imagen" class="img-fluid mt-3" style="max-width: 500px;">
                    {% endif %}
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">{{ nuevo_articulo.autor.username }}</a>
                        on {{ nuevo_articulo.fecha_publicacion }}
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>


            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="{% url 'noticia_1' %}">
                                <h2 class="post-title">Boca Finalista de la Copa Libertadores 2023</h2>
                                <h3 class="post-subtitle">El conjunto Xeneixe venció por penales al mítico Palmeiras 4-2 con Chiquito Romero como figura</h3>
                                <img src="https://tntsports.com.ar/__export/1696564127582/sites/tntsports/img/2023/10/06/boca_finalista_copa_libertadores_crop1696564100584.jpg_1902800913.jpg" alt="Tu imagen" class="img-fluid mt-3" style="max-width: 500px;">
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">Santino Bergamo</a>
                                on October 5, 2023
                            </p>
                        </div>

                        <hr class="my-4" />
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="{% url 'noticia_2' %}" class="text-decoration-none">
                                <h2 class="post-title text-primary">San Lorenzo no logra levantar cabeza</h2>
                                <h3 class="post-subtitle text-muted">El equipo dirigido por el Gallego Insua no logra asentarse en el torneo local y deja puntos importantes en la lucha por clasificar a la siguiente ronda de la Copa de la Liga y a la Copa Libertadores 2024.</h3>
                                <div class="text-center my-4">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxtkAtXGPqP3FEE5EKFau_8oBn0aaIP9NDMg&usqp=CAU" class="img-fluid rounded" style="max-width: 500px; height: 375px;" alt="Imagen relacionada">
                                </div>
                            </a>
                            <p class="post-meta text-muted">
                                Publicado por
                                <a href="#!" class="text-decoration-none">Santino Bergamo</a>
                                el 7 de Octubre de 2023
                            </p>
                        </div>
{% endblock content %}
