{% extends 'base.html' %}
 
{% block content %}
       
<header class="masthead" style="background-image: url('https://media.tycsports.com/files/2023/01/25/527329/lpf-2023_1440x810_wmk.webp'); background-position-x: center; background-position-y: -300px; background-size: cover;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Nuevo artículo -->
            <div class="post-preview">
                <a href="{% url 'noticia_nueva' %}">
                    <h2 class="post-title">{{ nuevo_articulo.titulo }}</h2>
                    <h3 class="post-subtitle">{{ nuevo_articulo.subtitulo }}</h3>
                    <img src="{{ nuevo_articulo.imagen.url }}" alt="Tu imagen" class="img-fluid mt-3" style="max-width: 500px;">
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{ nuevo_articulo.autor.username }}</a>
                    on {{ nuevo_articulo.fecha_publicacion }}
                </p>
            </div>
            <hr class="my-4" />
            <!-- Artículos existentes -->
            {% for articulo in articulos %}
            <div class="post-preview">
                <a href="{% url 'noticia_{{ articulo.id }}' %}">
                    <h2 class="post-title">{{ articulo.titulo }}</h2>
                    <h3 class="post-subtitle">{{ articulo.subtitulo }}</h3>
                    <img src="{{ articulo.imagen.url }}" alt="Tu imagen" class="img-fluid mt-3" style="max-width: 500px;">
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">{{ articulo.autor.username }}</a>
                    on {{ articulo.fecha_publicacion }}
                </p>
            </div>
            <hr class="my-4" />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
