{% extends 'base.html' %}

{% block content %}
<header class="masthead" style="background-image: url('https://img.freepik.com/foto-gratis/herramientas-deportivas_53876-138077.jpg?size=626&ext=jpg&ga=GA1.1.34264412.1696291200&semt=ais');">
    </header>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="{{ form.username.name }}" placeholder="Usuario" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="password" name="{{ form.password.name }}" placeholder="Contraseña" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
        <p class="mt-3">¿No estás registrado? <a href="{% url 'registro' %}">Regístrate</a></p>
    </div>
{% endblock content %}
