{% extends 'base.html' %}

{% block content %}
<header class="masthead" style="background-image: url('{{ articulo.imagen.url }}'); background-position-x: center; background-position-y: -200px; background-size: cover;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>
    <h2>Se ha cerrado su sesión exitosamente!</h2>

{% endblock content %}