{% extends 'base.html' %}

{% block content %}
    <!-- Contenido de la página secundaria -->
    <header class="masthead" style="background-image: url('https://tn.com.ar/resizer/5o3Prq-na5VEFK0Jtsw0HvEiNgw=/767x0/smart/filters:format(webp)/cloudfront-us-east-1.images.arcpublishing.com/artear/3M7D43DIVRFAXMWNG3KVGAVHQI.jpg'); background-position-x: center; background-position-y: -200px; background-size: cover;">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    

    <div class="container px-4 px-lg-5 mt-4"> <!-- Ajusta el valor de mt-4 para controlar el espacio superior -->
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h1 class="mt-5 text-left">San Lorenzo no logra levantar cabeza</h1>
                <p class="mt-3">Con jugadores desorientados desde el primer minuto de partido, Newell’s se hizo un festín con espacios que el CASLA jamás deja. Y si en ese escenario hay desatenciones individuales graves como las de Sánchez-Giay-Luján en el primer gol de Ferreira, no se cae una sola idea en un ataque muy pobre de recursos y no te salva un Augusto Batalla que no tuvo responsabilidad en los goles pero que en los últimos tiempos atajaba hasta las imposibles... La tarde podía salir así de torcida. Sobre todo porque Ñuls fue un equipo inteligente para leer el partido y para aprovecharse de los nervios y la impotencia de un rival que intentó atacarlo apenas por inercia.</p>
            </div>
        </div>
    </div>
    
    
    
{% endblock content %}
