{% extends 'base.html' %}

{% block content %}
<header class="masthead" style="background-image: url('https://www.infobae.com/new-resizer/RQtZGMhUNQkoXX-i4RfRGg6Gu4I=/992x661/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/26ZYZ5HF7YG27E2L7GFTJBU4BU.jpg'); background-position-x: center; background-position-y: -300px; background-size: cover;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5 mt-4"> <!-- Ajusta el valor de mt-4 para controlar el espacio superior -->
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1 class="mt-5 text-left"> La selección argentina jugará ante Uruguay en La Bombonera   </h1>
                <p class="mt-3"> El camino rumbo al Mundial de Estados Unidos, Canadá y México 2026 recién comienza y la selección argentina, luego de levantar la copa en Qatar 2022 ostenta un andar perfecto y soñado. No obstante, dentro del plantel albiceleste sostienen que las Eliminatorias Sudamericanas son las más duras del mundo y saben que no pueden relajarse. </p>
                <p class="mt-3"> El primer compromiso será el Clásico del Río de La Plata ante la Uruguay de Marcelo Bielsa, entrenador que conoce a la perfección al combinado argentino. Luego de algunas idas y vueltas, finalmente la AFA informó mediante un comunicado que se verán las caras el jueves 16 de noviembre en Alberto J. Armando (La Bombonera), a las 21.00. En primera instancia el encuentro se iba a disputar en el Estadio Mâs Monumental, pero en la cancha de River Plate se producirán algunos recitales cerca de la fecha y por este motivo se optó por cambiar de escenario.</p>
        </div>
    </div>
</div>

{% endblock content %}