{% extends 'base.html' %}

{% block content %}
<header class="masthead" style="background-image: url('https://tntsports.com.ar/__export/1696564127582/sites/tntsports/img/2023/10/06/boca_finalista_copa_libertadores_crop1696564100584.jpg_1902800913.jpg'); background-position-x: center; background-position-y: -200px; background-size: cover;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5 mt-4"> <!-- Ajusta el valor de mt-4 para controlar el espacio superior -->
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1 class="mt-5 text-left">Boca Finalista de la Copa Libertadores 2023</h1>
            <p class="mt-3">Boca lo hizo de nuevo. Por tercera ronda consecutiva, el equipo de Jorge Almirón pasó por penales y avanzó a una nueva final de Libertadores en su historia. Otra vez con Chiquito Romero como figura, clave en los 90 minutos y en la serie decisiva de penales (atajando dos disparos), enmudeció a San Pablo dejando en el camino a Palmeiras, ganador de las ediciones 2020 y 2021 en el último tiempo. Jugará con Fluminense el próximo 4 de noviembre en el Maracaná.</p>
        </div>
    </div>
    
    
    
{% endblock content %}
