{% extends 'base.html' %}


{% block content %}
    
<header class="masthead" style="background-image: url('https://media.ambito.com/p/7b8a07781a316046fe4647fff3dc0262/adjuntos/351/imagenes/040/366/0040366985/1200x675/smart/messi-seleccion-argentina-mundial.jpg'); background-position-x: center; background-position-y: -300px; background-size: cover;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock content %}
    