{% extends 'base.html' %}


{% block content %}
    
<header class="masthead" style="background-image: url('https://media.ambito.com/p/7b8a07781a316046fe4647fff3dc0262/adjuntos/351/imagenes/040/366/0040366985/1200x675/smart/messi-seleccion-argentina-mundial.jpg'); background-position-x: center; background-position-y: -300px; background-size: cover;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="{% url 'noticia_1_arg' %}">
                    <h2 class="post-title">La selección argentina jugará ante Uruguay en La Bombonera</h2>
                    <h3 class="post-subtitle">Tras varios idas y vueltas se definio la sede para el clasico del Rio de la Plata.</h3>
                    <img src="https://www.infobae.com/new-resizer/RQtZGMhUNQkoXX-i4RfRGg6Gu4I=/992x661/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/26ZYZ5HF7YG27E2L7GFTJBU4BU.jpg" alt="Tu imagen" class="img-fluid mt-3" style="max-width: 500px;">
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Santino Bergamo</a>
                    on October 25, 2023
                </p>
            </div>
{% endblock content %}
    